[Unit]
AssertPathExists=/usr/bin/obj-down-up-load-server

[Service]
WorkingDirectory=~
ExecStart=/usr/bin/obj-down-up-load-server
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
